<header>
    
    <i class="fa-solid fa-xmark"></i>

    <div class="logo">
        <div>
        <a href="index.html">
        
        <img src="official persco robotics logo4.png" alt="" class="sir">
    </div>
        <div>
        Persco STEM</div></a>
    </div>
    <div class="navigationLinks">
        <nav>
            <ul>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./documentation.html">Gallery</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>                
    </div>
    <div class="calltoaction">
        <div class="waitList">
            <a href="signin.html">Sign In</a>
        </div>
    </div>
</header>