<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persco Stem | <%= title %></title>
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/pstyle.css">
</head>
<body>
   
    
<%- include("header.ejs")%>

    <div id="blogContainer">
        
    </div>

<%- include("footer.ejs")%>

    <script src="/js/blog.js"></script>
</body>
</html>