<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="persco robotics and stem news">
    <title>Persco Stem | <%= title %></title>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="shortcut icon" href="/images/persco.ico">
    <script src="https://kit.fontawesome.com/96e8c23590.js" crossorigin="anonymous"></script>
</head>
<body>
   
<div class="page-items">   

<%- include("navHorizontal.ejs")%>

<%- include("header.ejs")%>
    <p style="text-align: center; font-size: 30px; margin-top: 30px; font-weight: 600;">News In The World Of Tech</p>
    <div id="blogContainer">
        
    </div>
</div>
<%- include("footer.ejs")%>


    <script src="/js/blog.js"></script>
    
</body>
</html>