
<footer>

    <div class="row">
        <div class="col">
            <img src="official persco robotics logo4.png" alt="" class="footer-logo">
            <p>Persco robotics and STEM club. "Exploring science, technology, engineering, and math—one discovery at a time!"</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>ITPL road</p>
            <p>Whitefield, Bngalore</p>
            <p>Kanataka, 550066, India</p>
            <p class="email-id">perscorobotics69@gmail.com</p>
            <h4>+233 - 274775263</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
    
    
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3>
            <form action="post">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" placeholder="Enter your Email">
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    
    </div>
    
    
    
    <hr>
    <p class="copyright">Persco Robotics and STEM club &copy; - All rights reserved</p>
    </footer>