
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persco Stem | Gallery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
<div class="home-btn" onclick="window.location.href='/index'">  
<svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 512 512"><!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
<h2 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Home</h2>
</div>
<div class="gallery-container">
    <div class="gallery-header">
      <h1>Our Gallery</h1>
      <div class="filter-buttons">
        <button class="filter-btn active" data-filter="all">All</button>
        <button class="filter-btn" data-filter="image">Images</button>
        <button class="filter-btn" data-filter="video">Videos</button>
      </div>
    </div>
    
    <div class="gallery-grid">
      <!-- Media items will be loaded here -->
    </div>
    
    <div class="load-more">
      <button id="load-more-btn">Load More <i class="fas fa-arrow-down"></i></button>
    </div>
  </div>
  
  <!-- Lightbox -->
  <div class="lightbox">
    <div class="lightbox-content">
      <span class="close-btn">&times;</span>
      <div class="media-container">
        <img src="" alt="" class="lightbox-img">
        <video controls class="lightbox-video">
          <source src="" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="image-info">
        <h3 class="media-title"></h3>
        <p class="media-description"></p>
      </div>
      <div class="lightbox-nav">
        <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
        <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  
  <script src="/js/gallery.js"></script>
</body>
</html>