<header>
    
    <i class="fa-solid fa-xmark"></i>

    <div class="logo">
        <div>
        <a href="/views/index.ejs">
        
        <img src="/public/images/official persco robotics logo4.png" alt="" class="sir">
    </div>
        <div>
        Persco STEM</div></a>
    </div>
    <div class="navigationLinks">
        <nav>
            <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/documentation">Gallery</a></li>
                <li><a href="/views/blog.ejs">Blog</a></li>
            </ul>
        </nav>                
    </div>
    <div class="calltoaction">
        <div class="waitList">
            <a href="/views/signin.ejs">Sign In</a>
        </div>
    </div>
</header>