<header>
    
    <i class="fa-solid fa-xmark"></i>

    <div class="logo">
        <div>
        <a href="/index">
        
        <img src="/images/official persco robotics logo4.png" alt="" class="sir">
    </div>
        <div>
        Persco STEM</div></a>
    </div>
    <div class="navigationLinks">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">News</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>                
    </div>
    <div class="account">
    <div class="calltoaction">
        <div class="waitList">
            <a href="/contact">Contact Us</a>
        </div>
    </div>


</header>


<script>
    const links = document.querySelectorAll("nav a");
    const currentURL = window.location.pathname;

    links.forEach(link => {
    if (link.getAttribute('href') === currentURL) {
    link.classList.add('active-link');
    
    }
})

</script>
