

<div class="nav-horizontal">
    <div class="logo">

            <div>
                <a href="/index">
                
                <img src="/images/official persco robotics logo4.png" alt="">
            </div>
                <div>
                Persco STEM</div></a>

    </div>
    <div><i class="fa-solid fa-bars"></i></div>
</div>