* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.content {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2.5rem 5.3125rem;
    background-color: white;
    width: 100%;
    box-shadow: 0rem 0rem 0.4rem 0.02rem rgb(92, 92, 92);

}

.nav-horizontal {
    display: none;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

header .fa-xmark {
    display: none;
}

header .logo img {
    width: 45px;
    height: 45px;
    border-radius: 10px;

}


@keyframes rotate {
    0%{
    opacity: 0.5;}
    100%{
    opacity: 1;}
}

header .logo a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .navigationLinks ul{
    display: flex;
    gap: 1.875rem;
}

header .navigationLinks ul li{
    list-style: none;
}

header .navigationLinks ul li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-size: 18px;
}

header .navigationLinks ul li a:hover{
    text-shadow: 1px 1px 3px #00000058;
}

header .navigationLinks ul li a:after{
    position: absolute;
    content: '';
    width:  0%;
    height: 1.5px;
    background-color: black;
    top: 24px;
    left: 0;
    box-shadow: 1px 1px 3px #000;
    transition: width 0.3s ease-in;
}

header .navigationLinks ul li a:hover:after{
    width: 100%;
}
header .navigationLinks ul li a.active-link {
    color: blue;
}

header .navigationLinks ul li a.active-link:hover:after {
    width: 100%;
}

header .navigationLinks ul li a.active-link:after {
    background-color: blue;
    width: 50%;
}



header .calltoaction .waitList a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    font-size: 18px;
}




.video-bg {
    width: 100%;
    height: 100vh;  
    position: fixed;
    z-index: -2;
}

.video-bg .fall-back-img{
    width: 100%;
    height: 100vh;
    min-height: 50%;
    object-fit: cover;
    animation: fadeIn 2s;
    z-index: -1;
    filter: brightness(60%);
    
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.video-bg .absoluteText{
    position: absolute;
    top: 30%;
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    padding: 0px 70px;
}

.video-bg .absoluteText .mainText {
    font-size: 28px;
    color: #e5e5e5;
    animation: move 1.5s forwards;
    animation-delay: 0.7s; 
    opacity: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes move {
    from{
    transform: translateX(700px);
    opacity: 0;
    filter: blur(10px);
}
    to{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}
}

.video-bg .absoluteText .minInfo {
    font-size: 20px;
    color: #e5e5e5;
    animation: move 1.5s forwards;
    animation-delay: 1.2s;
    opacity: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-bg .absoluteText .buttonWaitlist {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.video-bg .absoluteText .buttonWaitlist a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    padding: 20px 80px;
    transition: background, color  0.8s ease-in;
    background: #fff;
    border-radius: 30px;
}

.video-bg .buttonWaitlist a:hover{
    box-shadow: 0px 0px 8px 2px #ffffff;
    transition: box-shadow 0.3s ease-in-out;
}

.apart-video-bg {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    z-index: 2;
    margin-top: 100vh;
    border: 2px solid white;
    animation: appearApart linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    border-radius: 10px;
}


.programs-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 0px 20px;
    margin-top: 30px;
    margin-bottom: 80px;
    align-items: center;
}

.programs-wrapper div {
    box-shadow: 0rem 0rem 1rem 0.02rem rgb(76, 76, 76);
    min-height: 50vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    text-align: center;
    padding: 15px;
    gap: 10px;
    background-color: rgb(251, 239, 239);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.programs-wrapper div img {
    width: 150px;
}

.programs-wrapper div .cap-clip {
    width: 90%;
    height: 140px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.7);

    }
    to {
        opacity: 1;
        transform: scale(1);

    }
} 

@keyframes appearApart {
    from {

        transform: scale(0.6);

    }
    to {

        transform: scale(1);

    }
} 
.programs-wrapper div:hover {
    transition: 0.3s ease-in;
    box-shadow: 0rem 0rem 0.5rem 0.02rem rgb(70, 86, 255);
}


.programs-wrapper div a {
    text-decoration: none;
    background-color: blue;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    padding: 10px 20px;
    align-self: flex-end;
}

.programs-wrapper div a:hover {
    background-color: white;
    border: 1px solid blue;
    color: black;
    transition: 0.4s ease-in;
}

.slider {
    position: relative;
    width: 100%;  /* 100% of the screen width */
    max-width: 96vw;  /* Optional: Limit max width */
    height: 600px;  /* Set a fixed height */
    margin: auto;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 50px;
    border: 4px solid white;
    box-shadow: 0rem 0rem 0.5rem 0.02rem rgb(84, 84, 84);
  }
  
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
  }
  
.prev { left: 10px; }
.next { right: 10px; }
  

.pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  
.dot {
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
.dot.active {
    background: #333;
  }

footer {
    width: 100%;
    background-color: rgb(251, 239, 239);
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
    box-shadow: 0rem 0rem 0.3rem  0.02rem #3d3d3d;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
}

footer .col {
    flex-basis: 20%;
    padding: 10px;
}
footer .col:nth-child(2), footer .col:nth-child(3) {
    flex-basis: 15%;
}

footer .footer-logo {
    width: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #1b1b1b;
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #1b1b1b;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1b1b1b;
    margin-bottom: 50px;
}

footer form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #1b1b1b;
    border: 0;
    outline: none;

}

footer form button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

footer form button .fa-solid {
    font-size: 16px;
    color: #1b1b1b;

}
footer .social-icons {
    width: 300px;
    display: flex;
}
footer .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#1b1b1b;
    margin-right: 50px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #1b1b1b;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .underline {
    width: 100%;
    height: 5px;
    background-color: #1b1b1b;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background-color: #c2c2c2;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100% {
        left: 100% ;
    }
}

@media(max-width: 1080px) {
    .video-bg .absoluteText {
        top: 29%;    
    }
}

@media(max-width: 849px) {
    .video-bg .absoluteText {
       text-align: left;
        
    }
}

@media(max-width: 798px) {
    .video-bg .absoluteText {
        top: 35%;
    }
    .video-bg .absoluteText .mainText{
       line-height: 50px;
       margin-bottom: 20px;
       font-size: 22px;
        
    }
    .video-bg .absoluteText .minInfo {
        font-size: 17px;
    }
    .video-bg .absoluteText .buttonWaitlist a{
        padding: 15px 20px;
    }
}

@media (max-width: 725px) {
    header .calltoaction .waitList a{
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 920px){
    header {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(700px);
        height: 100vh;
        width: 50%;
        z-index: 5;
        display: flex;
        flex-direction: column;
        transition: 0.4s ease;
        justify-content: center;
        gap: 60px;
    }
    header .fa-xmark {
        position: absolute;
        top:  50px;
        left: 50px;
        font-size: 40px;
        display: block;
        color: #fff;
        cursor: pointer;
    }
    header .navigationLinks ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
    }
    header .navigationLinks ul li {
        padding: 20px;
        text-align: center;
    }

    header .calltoaction .waitList a {
        padding: 15px 40px;
        margin-top: 40px;
    }


    header.slide-out {
        transform: translateX(0);
    }

    header .logo {
        display: none;
    }

    .nav-horizontal {
        position: absolute;
        display: block;
        background-color: white;
        border-bottom: 2px solid white;
        z-index: 5;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-horizontal .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-horizontal .logo a {
        font-size: 1.3rem;
        text-decoration: none;
        color: black;
        font-weight: 800;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nav-horizontal .logo img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .nav-horizontal .fa-bars {
        color: black;
        font-size: 30px;
        cursor: pointer;
    }

    .slider button {
        display: none;
    }

    .pagination {
        display: none;
    }


}



@media (max-width: 1448px) and (max-height: 623px) {
    .video-bg .absoluteText {
        top: 35%;
    }
}




@media (max-width: 321px) and (max-height: 534px) {

    .video-bg video {
        height: 105vh;
    }

    .what {
        transform: translateY(40px);
    }

}

@media (max-width: 321px) and (max-height: 569px) { 

    .video-bg video {
        height: 101vh;
    }


    body {
        width: 100%;
    }
    .what {
        transform: translateY(30px);
    }
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
    }
}



@media (max-width: 700px){
    footer {
        bottom: unset;
    }

    footer .col {
        flex-basis: 100%;
    }
    footer .col:nth-child(2), footer .col:nth-child(3) {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 718px) {
    .slider {
        height: 600px;
    }
}

@media screen and (max-width: 1110px) {
    .slider {
        height: 500px;
    }
}

@media screen and (max-width: 921px) {
    .slider {
        height: 400px;
    }
}


@media(max-width: 849px) {
    .video-bg .absoluteText {
        flex-direction: column;
        justify-content: center;
        top: 28%;
        left: 23%;
        padding: 0;
    }

}

@media (max-width: 768px) {
    .slider {
      width: 95%;
    }
  }

@media (max-width: 768px) {
    .slider {
        height: 300px; 
    }
  }

@media (max-width: 719px) {

}

@media (max-width: 615px){
    .video-bg .absoluteText{
        gap: 25px;
        top: 25%;
    }
    .video-bg .absoluteText .mainText {
        margin: 0;
        font-size: 17px;
    }
    .video-bg .absoluteText .minInfo {
        font-size: 15px;
    }
}

@media (max-width: 475px){
    .video-bg .absoluteText {
        top: 26%;
        left: 5%;
        width: 90%;
    }
}

@media (max-width: 365px){
    .video-bg .absoluteText {
        top: 24%;

    }
}


@media (max-width: 346px){
    .video-bg .absoluteText {
        top: 22%;

    }
    .nav-horizontal .logo a {
       font-size: 18px;
    }
}

@media (max-width: 320px){
    .video-bg .absoluteText {
        top: 19%;

    }
}
